<section id="about">

<h3>About Us</h3>

<div class="wefix-lockup">
    
    <div class="shop-img"></div>
    
    <div class="icon-phone">{% include icons/icon-phone.html %}</div>
    <div class="icon-ipod">{% include icons/icon-ipod.html %}</div>
    <div class="icon-tablet">{% include icons/icon-tablet.html %}</div>
    <div class="icon-ipad">{% include icons/icon-ipad.html %}</div>

    </div>
 </div>

<div class="blurb">
  <p><strong>IFixPhones</strong>, A one stop location for all your gadget needs! We know how important your gadget is in this connected world. 
  Therefore we make sure you are always connecting, learning, making deals on your phone, tracking your fitness goals or just plain chitchatting.</p>
  
  <p>Don't worry if you dropped it, drowned it, infected it! Be it Apple, Samsung, HTC, Motorolla, Nexus, just 
  let us diagnose your gadget for free and give us a chance to deliver you an exceptional service so that you 
  truely believe that we are Gadget Gurus! </p>

  <p><strong>Our Mission</strong> : To deliver good quality service in time and at a competitive price</p>

</div>

</section>