<section id="about">

<h3>About Us</h3>

<div class="wefix-lockup">
    
    <div class="shop-img"></div>
    
    <div class="icon-phone">{% include icons/icon-phone.html %}</div>
    <div class="icon-ipod">{% include icons/icon-ipod.html %}</div>
    <div class="icon-tablet">{% include icons/icon-tablet.html %}</div>
    <div class="icon-ipad">{% include icons/icon-ipad.html %}</div>

    </div>
 </div>

<div class="blurb">
	 <p><strong>iFixPhones, where your life is back!</strong> Whether you dropped your iPhone, iPod or Tablets   let one of our knowledgeable and dedicated technicians take a look at it. We service a wide variety of electronic brands including, Samsung, Blackberry, Motorola, HTC, and LG as well as tablet brands. We will happily diagnose damaged electronic device free of charge! We are committed to provide you the highest services. Through out the diagnostics we will keep you informed every step of the way on your electronic device’s road to recovery.</p>

	</p>We remain confident that we are the best at what we do because of our loyal customers feedback and positive outcome. Our trained technicians are able to repair your iPhone, Smartphone, iPod, iPad and tablets devices while maintaining manufacturer standard quality and functionality.</p>

	<p>We aim to exceed your expectations, and in doing so, are able to offer a 6-month warranty on all services and repairs. Don't hesitate to visit one of our many repair locations today, where you will be sure to find the most affordable and reliable services in one stop!</p>
</div>

</section>