<section class="alt-section section-services" id="services">

<h3>Services</h3>

 <div class="services-belt">

 	<div class="thumb-wrap">
		<div class="thumb-container">
			
			{% for service in site.data.settings.services %}
			<label for="{{ service.name }}">
			<div class="thumb-unit" data-folder="{{ service.name }}" style="background-image: url(/assets/images/{{service.image}})">
				<div class="thumb-overlay">
					<strong>{{service.name}}</strong>
				</div>
			</div>
			</label>

			{% endfor %}
		</div>
	</div>

	<div class="service-wrap">
		<div class="service-container">
			<label for="return">
		    	<div class="service-return">{% include icons/icon-back.html %}</div>
		    </label>
		    <h4 class="service-title"></h4>
      		<div class="service-load"></div>
		
			<noscript>
		        {% for service in site.data.settings.services %}
		          	<div class="noscript" id="content-{{ service.name }}">
		            <h4 class="service-title">{{ service.name }}</h4>
		            <div class="noscript-load">
		              {% include {{service.file}} %}
		            </div>
		          	</div>
		        {% endfor %}
		     </noscript>
	     </div>
	</div>

</div>

</section>