.alt-section
	background: $bgcolor

.thumb-container
	max-width: 960px
	margin: 0px auto
	padding-bottom: 50px
	+clearfix

	.thumb-unit
		width: 25%
		height: 200px
		padding-top: 20%
		display: block
		float: left
		position: relative
		overflow: hidden

		background:
			position: center center
			repeat: no-repeat
			size: cover

		.thumb-overlay
			+position(absolute, 400px 0px null 0px)
			height: 100%
			background: fade-out($accent, 0.1)
			text-align: center
			+transition

			strong
				display: block
				padding: 20px
				color: white
				font-weight: 300
				text-transform: uppercase
				font-size: 20px

		&:hover .thumb-overlay
			+position(absolute, 0px 0px null 0px)


